.li{
    display:flex;
    align-items:center;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    /* padding: 0.3rem 1rem 0.3rem 1rem; */
    list-style: none;
    width: 48%;
    margin-left: 1.4rem;
    transition: transform 205ms ease-in-out;
}
.li:hover{
    /* border: 1px solid red; */
    box-shadow: 7px 6px 5px 1px rgba(115,115,115,0.26);
    background-color: rgba(250, 221, 221, 0.282);
    cursor: pointer;
    transform: scale(1.01)
}
.img{
    width:30%;
}
.textBox{
    box-sizing: border-box;
    padding-left: 1.2rem;
}
.title, .p{
    margin: 0rem
}
.title{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 1rem;
}
.p{
    margin-top: 0;
}
