.ul{
    display:flex;
    margin-bottom: 1rem;
}
.img{
    width: 10rem
}
.textBox{
    padding-left: 1.5rem;
}
/* .h4, .p{
    margin: 0rem
} */
.h4{
    margin: 0 0 1rem 0;
}
.p{
    margin-top: 1rem;
}